div, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

.hanoi {
 border: 2px solid #ccc;
 width: 426px;
 margin: auto;
}

ul {
  list-style: none;
  float: left;
  border: 1px solid #33ff22;
}

li {
    border-radius: 10px;
    width: 140px;
    height: 40px;
}
.empty {
  background: transparent;

}

.disk-1 {
  background: #ff8844;
  width: 60%;
  margin: auto;
}

.disk-2 {
  background: #84be33;
  width: 80%;
  margin: auto;
}

.disk-3 {
  background: #25abcd;
}
.stack {
  background: #cceecc;
}
.from {
  background: #ccaaee;
}

.group:after {
  display: block;
  clear: both;
  content: "";
}